<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfluenSync -</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body-start-user">
    <header>
        <h2 class="logo">InfluenSync</h2>
        <nav class="navigation">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Contact</a>
          
            <!-- <button class="btnLogin-popup " ><a href="/brand_login">Brand Login</a></button> -->
            <!-- <button class="btnLogin-popup" onclick="window.location.href='admin_login.html'" >Admin</button> -->
        </nav>
    </header>
    <div class="wrapper">
        
    <div class="form-box Login">
        <h2>Influencer Login</h2>
        <!-- <button></button> -->
        <form action="/" method="POST">
            <div class="input-box">
                <span class="start-icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input type="username" required name="username">
                <label for="Username">Username</label>

            </div>
            <div class="input-box">
                <span class="start-icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" required name="password">
                <label >Password</label>
            </div>
            <div class="remember-forget">
                <label for=""><input type="checkbox">Remember me</label>
                <a href="">Forget Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account ? <a href="/user_register">Register now</a></p>
                <p>Not a Influencer ? <a href="/brand_login">Brand Login</a></p>
                <p>Admin? <a href="/admin_login">Admin Login</a></p>
            </div>

        </form>
  
    </div>
    </div>































<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>