<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InfluenSync - Influencer</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body class="body-start">
<!--------------------------------Navbar----Start------------------------------------------------------------------------------------------------>
<header>
        <h2 class="logo">InfluenSync</h2>
        <nav class="navigation">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Services</a>
            <a href="">Contact</a>
           
        </nav>
            
        </nav>
    </header>
<!--------------------------------Navbar----End------------------------------------------------------------------------------------------------>





<!--------------------------------Login----Start------------------------------------------------------------------------------------------------>
<div class="rwrapper">
  <form action="/user_register" method="POST">
    <h1>Influencer Registration</h1>

    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="User Name" name="username">
        <i><ion-icon name="person"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="password" placeholder="Password" name="password">
        <i><ion-icon name="logo-web-component"></ion-icon></i>
      </div>
    </div>


    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="Country" name="country">
        <i><ion-icon name="earth-outline"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="text" placeholder="Platform" name="platform" >
        <i><ion-icon name="phone-portrait-outline"></ion-icon></i>
      </div>
    </div>

    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="Website" name="website">
        <i><ion-icon name="globe-outline"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="text" placeholder="Reach" name="reach">
        <i><ion-icon name="people"></ion-icon></i>
      </div>
    </div>
    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="Category" name="category">
        <i><ion-icon name="albums"></ion-icon></i>
      </div>
      </div>
<label for="" class="rlabel"><input type="checkbox" class="rinput"> I herby declare that the above information provided is true and correct</label>
  
<button type="submit" class="rbtn">Register</button>
<div class="login-register">
                <p>Already have an account ? <a href="/">Login now</a></p>
                
            </div>
</form>

</div>
        
<!--------------------------------Login----End------------------------------------------------------------------------------------------------>
    
    
    
    
    
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script></html>