<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="dash-body">
    
<div class="sidebar">
    <div class="dash-logo"></div>
        <ul class="menu">
            <li class="active">
                <a href="/home" >
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                    </a>
            </li>
            <li>
                <a href="/user_profile/{{influencer.influencer_id }}">
                    <i class="fas fa-user"></i>
                    <span>Proifle</span>
                    </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-chart-bar"></i>
                    <span>Statistics</span>
                    </a>
            </li>
            <li>
                <a href="/camp_select">
                    <i class="fa-solid fa-snowflake"></i>
                    <span>Search Campaign</span>
                    </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                    </a>
            </li>
            <li class="logout">
                <a href="/">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Log Out</span>
                    </a>
            </li>
           
        </ul>
   
</div>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <span>InfluenSync  </span> <span style="font-weight: bold; text-decoration:underline" ></span>
            <h2>Profile</h2>
            <!-- <h3>Ratings</h3> -->
        </div>
        <div class="user--info">
            <div class="search--box">

                <i class="fa-solid fa-search">
    
                </i>
                <input type="text" class="sin" name="" id="" placeholder="Search">
            </div>
            
        </div>
        
    </div>

    <div class="card--container">
       <div class="rwrapper"  id="adcont" style="margin-top: 10px; margin-left:150px">
  <form action="/user_profile/{{ influencer.influencer_id }}" method="POST">
    <h1>Edit Your Profile</h1>

    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="User Name" name="username" disabled value="{{influencer.username}}">
        <i><ion-icon name="person"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="password" placeholder="Password" name="password"  value="{{influencer.password}}">
        <i><ion-icon name="logo-web-component"></ion-icon></i>
      </div>
    </div>


    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="Category" name="category"  value="{{influencer.category}}">
        <i><ion-icon name="albums"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="text" placeholder="Platform" name="platform" value="{{influencer.platform}}">
        <i><ion-icon name="phone-portrait-outline"></ion-icon></i>
      </div>
    </div>

    <div class="rinput-box">
      <div class="rinput-field">
        <input type="text" placeholder="Website" name="website" value="{{influencer.website}}">
        <i><ion-icon name="globe-outline"></ion-icon></i>
      </div>
      <div class="rinput-field">
        <input type="text" placeholder="Reach" name="reach"  value="{{influencer.reach}}">
        <i><ion-icon name="people"></ion-icon></i>
      </div>
    </div>
    

  

    <div class="login-register">
        <button type="submit" class="rbtn" style="width: 100px;">Change</button>
        
      </form>
    </div>
    <a href="/remove_influencer/{{influencer.influencer_id}}"><button class="btn" style=" margin-left:10px;    width: 100px;">Delete </button></a> 
        
    


</div>
    </div>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script></html>
</body>
</html>